.body {
    width: 980px;
    background-color: white;
    margin: 30px auto;
    padding: 15px;
    vertical-align: center;
}
img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
    margin: 30px 20px;
}
.Me {
    width: 100%; 
    float: left;
    margin: 0px 16px;
}
p {
    font-size: 20px;
}
.header {
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin: 20px auto;
}
#logo {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
.col-sm-6 {
    width: 42%;
    border: 0 none;
    opacity: 0.8;
}
.col-sm-6 h3 {
    position: absolute;
    bottom: 20px;
    width: 42%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    bottom: 30px;
    left: 35px;
}
  @media only screen and (max-width: 480px) {
    .body {
        width: 480px;
        background-color: white;
        margin: 30px auto;
        padding: 15px;
        vertical-align: center;
    }
    .col-sm-6 {
        width: 100%;
    }
  }